@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.custom-scrollbar::-webkit-scrollbar {
  height: 10px; 
  background-color: transparent; 
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(40, 48, 61, 0.5); 
  border-radius: 10px;
  margin: 0 20px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.6); 
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.7); 
}
.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: rgba(100, 116, 139, 0.6) rgba(40, 48, 61, 0.5); 
} 